<div class="row">

  <div class="col s0 m2">
    <div class="sidebar">
      <ul id="slide-out" class="sidenav sidenav-fixed" style="width:17%;">
        <img src="/images/logo.png" style="max-width:100%; max-height:100%; padding:5%;">
        <li>
          <div class="divider"></div>
        </li>
        <ul class="collapsible sidenav-fixed" style="padding: 5%">
          <% if (user.privilege.includes('DASHBOARD_VIEW')) { %>
            <li><a class="collapsible-header" href="/dashboard">Dashboard</a></li> 
          <% } %>
          <% if (user.privilege.includes('STUDENTS_VIEW')) { %>
            <li><a class="collapsible-header" href="/students">Students</a></li> 
          <% } %>
          <% if (user.privilege.includes('LABRECORDS_VIEW')) { %>
            <li><a class="collapsible-header" href="/lab-transactions">Lab Records</a></li> 
          <% } %>
          <% if (user.privilege.includes('ADMIN')) { %>
            <li><a class="collapsible-header" href="/users/admin">Admin Panel</a></li> 
          <% } %>
        </ul>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>

  </div>

  <ul id="user_dropdown" class="dropdown-content">
    <li><a href="/users/profile">Profile</a></li>
    <li><a href="/users/logout">Logout</a></li>
  </ul>

  <div class="col s12 m10">
    <!-- Teal page content  -->
    <div class="navbar navbar-fixed">
      <nav>
        <div class="nav-wrapper orange darken-1">
          <ul>
            <li><a class="dropdown-trigger" href="#!" data-target="user_dropdown"><%= user.username %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>