<div class="row">

  <div class="col s0 m3">
    <div class="sidebar">
      <ul id="slide-out" class="sidenav sidenav-fixed" style="width:25.8%;">
        <img src="/images/logo.png" style="max-width:100%; max-height:100%; padding:5%;">
        <li>
          <div class="divider"></div>
        </li>
        <ul class="collapsible sidenav-fixed" style="padding: 5%">
          <li>
            <a class="collapsible-header">Student</a>
          </li>
          <li>
            <a class="collapsible-header" href="/students">Lab</a>
          </li>
        </ul>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>

  </div>

  <div class="col s12 m9">
    <!-- Teal page content  -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper orange darken-1">
          <a href="#" class="brand-logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
    </div>