<% include ../partials/table-header.ejs %>

  <style>
    .my-close {
      user-select: none;
      cursor: pointer;
      background: lightgray;
      border-radius: 100%;
      padding: 0.2em;
      font-size: 1em;
    }

    .my-edit {
      user-select: none;
      cursor: pointer;
      padding: 0.2em;
      font-size: 1.25em;
    }

    .select-dropdown{
      max-height: 300px !important;
    }
  </style>

  <body>
    <!-- <% include ../partials/nav %> -->
    <div id="div_table" class="container">
      <table id="table" class="display">
        <thead>
          <tr>
            <th>NIM</th>
            <th>Name</th>
            <th>Study Program</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div id="modal_edit" class="modal">
      <div class="modal-content">
        <div class="row">
          <h4 class="col s12">Edit Student</h4>
          <div class="input-field col s12">
            <input id="student_id" name="student_id" type="text" class="validate" required>
            <label for="student_id">Student ID</label>
          </div>
          <div class="input-field col s12">
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">Name</label>
          </div>
          <div id="div_select" class="input-field col s12">
            <select id="study_program" name="study_program" style="margin-top:0.5em;">
              <option value="" disabled selected></option>
            </select>
            <label for="study_program">Study Program</label>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="margin-bottom:0.35em;">
        <button id="btn_reset" class="waves-effect waves-red btn-flat">RESET</button>
        <button id="btn_update" class="waves-effect waves-light btn orange darken-1">Update</button>
      </div>
      <div class="progress" style="display:none; margin:0;">
        <div class="indeterminate orange"></div>
      </div>
    </div>

    <% include ../partials/script %>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="/javascripts/components/modal-edit.js"></script>
    <script>
      async function initTable(tableID) {
        const $table = $(tableID)
        try {
          let data = await $.get('/api/students')
          let formattedData = data.map(data => [data.student_id, data.name, data.study_program.name,
            '<i class="my-edit material-icons">border_color</i>', '<i class="my-close material-icons">close</i>'
          ])
          let table = $table.DataTable({
            destroy: true,
            deferRender: true,
            responsive: true,
            dom: 'Bfrtip',
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
              'pageLength',
              {
                extend: 'copyHtml5',
                exportOptions: {
                  columns: [0, 1, 2],
                }
              },
              {
                extend: 'excelHtml5',
                title: 'LAB STUDENTS',
                exportOptions: {
                  columns: [0, 1, 2]
                }
              },
              {
                extend: 'pdf',
                title: 'LAB STUDENTS',
                text: 'Pdf',
                orientation: 'landscape',
                exportOptions: {
                  columns: [0, 1, 2]
                }
              }
            ],
            data: formattedData
          })

          // assign edit event
          $('#table').on('click', 'i.my-edit', function () {
            let row = table.row($(this).parent().parent())
            new ModalEdit($('#modal_edit')[0], row).show()
          })

          // assign delete event
          $('#table tbody tr td').on('click', 'i.my-close', function () {
            let row = table.row($(this).parent().parent())
            new ModalEdit($('#modal_edit')[0], row).show()
          })
        } catch (err) {
          console.log(err)
        }
      }

      $(document).ready(function () {
        $('.sidenav').sidenav()
        $('.collapsible').collapsible()

        initTable('#table')
      });
    </script>
  </body>

  <% include ../partials/footer %>