<% include ../partials/table-header %>

  <body>
    <% include ../partials/nav %>
    <div class="container" style="margin:0 auto; width:80%;">
      <h3>Lab Records</h3>
      <div class="divider" style="margin-bottom:2%;"></div>

      <div class="row">
        <div class="input-field col m3 l4">
          <input id="txt_start" type="text" class="datepicker">
          <label for="txt_start">Start</label>
        </div>
        <div class="input-field col m3 l4">
          <input id="txt_end" type="text" class="datepicker">
          <label for="txt_end">End</label>
        </div>
        <div class="input-field col m3 l4">
          <button id="btn_generate" type="button" class="waves-effect waves-light btn orange darken-1">GENERATE</button>
        </div>
      </div>

      <br>
      <div id="div_table">
        <table id="table" class="display" style="display:none; width:100%;">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Name</th>
              <th>Study Program</th>
              <th>Date</th>
              <th>Sign In</th>
              <th>Sign Out</th>
              <th>Duration</th>
              <th>PC Number</th>
              <th>Lab Location</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <br>

      <div id="preloader_container" style="text-align:center; padding:2em; display:none;">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>

      <% include ../partials/div-fail-fetch %>
    </div>

    <!-- div untuk membuat col ttp 9 -->
  </div>
  </div>
  <% include ../partials/script %>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="/javascripts/libs/moment.js"></script>
    <script src="/javascripts/components/collapsible-create.js"></script>
    <script src="/javascripts/components/modal-edit.js"></script>
    <script src="/javascripts/components/modal-delete.js"></script>
    <script>
      $(document).ready(async () => {
        $(".dropdown-trigger").dropdown()
        $('.sidenav').sidenav()
        initForm()
      });

      function initForm() {
        let textDOM = document.querySelectorAll('.datepicker')
        $(textDOM).val('')
        let instances = M.Datepicker.init(textDOM, {
          format: 'yyyy-mm-dd',
          autoClose: true
        })
        
        $('#btn_generate').click(async () => {
          let startDate = instances[0].toString()
          let endDate = instances[1].toString()
          console.log(startDate, endDate)
          if (startDate == '' || endDate == '') {
            M.toast({html: 'Fields cannot be empty!', classes: 'red', displayLength: 2000})
            return
          }
          await loadTable('#table', startDate, endDate)
        })
      }

      async function loadTable(tableID, startDate, endDate) {
        const $table = $(tableID)
        $table.hide('fast')
        $('#div_fail_fetch').hide()
        $('#preloader_container').show('fast')
        try {
          let data = await $.get('/lab-transactions/api', { startDate, endDate })
          console.log(data)
          let formattedData = data.map(d => [
            d.student.student_id, 
            d.student.name,
            d.student.study_program.name,
            moment(d.sign_in).format('Do MMMM YYYY'), 
            moment(d.sign_in).format('HH : mm : ss'), 
            moment(d.sign_out).format('HH : mm : ss'), 
            moment(d.sign_in).isBefore(moment(d.sign_out)) ? 
              moment.utc(moment(d.sign_out).diff(moment(d.sign_in))).format('HH:mm:ss') : '-',
            d.pc_number, 
            d.lab_location
          ])
          let table = $table.DataTable({
            destroy: true,
            deferRender: true,
            responsive: true,
            dom: 'Bfrtip',
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            buttons: [
              'pageLength',
              {
                extend: 'copyHtml5'
              },
              {
                extend: 'excelHtml5',
                title: 'LAB RECORDS'
              },
              {
                extend: 'pdf',
                title: 'LAB RECORDS',
                text: 'Pdf',
                orientation: 'landscape'
              }
            ],
            data: formattedData
          })

          $table.show('slow')
          table.columns.adjust().draw()
          table.column('4:visible').order('desc').draw();
          table.column('3:visible').order('desc').draw();
          return table
        } catch (err) {
          console.log(err)
          $('#div_fail_fetch').show()
          return null
        } finally {
          $('#preloader_container').hide('fast')
        }
      }
    </script>
  </body>

  <% include ../partials/footer %>