<% include ../partials/header %>

  <style>
    body {
      background-image: url(/images/login2.png);
      background-size: cover;
    }
  </style>

  <body>
    <div class="container valign-wrapper" style="height:100vh;">
      <div class="row" style="width:350px;">
        <form action="/users/login" method="POST" class="card col s12" style="text-align:center; padding:1em;">
          <h4>Hello!</h4>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <button class="btn waves-effect waves-light  orange darken-1" type="submit"
            name="action" style="margin:1em 0;">LOGIN
            <i class="material-icons right">send</i>
          </button>
          <p>Don't have an account? <a href="/users/new">Register!</a></p>
        </form>
      </div>
    </div>

    <% include ../partials/script %>
    </body>

    <% include ../partials/footer %>